div {
    display: flex;
    gap: 15px;
    justify-content: flex-start;    
}

.pipe {
    width: 6px;
    height: 28px;
    background-color: var(--color-pipe);
    align-self: center;
}

h2 {
    font-size: 34px;
    font-weight: 700;
    color: var(--color-darkgray);
}