main {
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

app-pipe-with-text {
    align-self: flex-start;
    margin-bottom: 70px;
}

app-carousel {
    width: 100%;
    align-self: center;
}