footer {
    padding: 60px 110px;
    color: white;
    background-color: var(--bg-darkgray);
}
  
.top {
    display: flex;
    justify-content: center;
    gap: 80px;
}
  
.category {
    display: flex;
    flex-direction: column;
}
  
.category h3 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
}
  
.top nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 400;
}
  
.location-info {
    display: flex;
    flex-direction: column;
}
  
.location-info h3 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
}
  
.location-info p {
    margin-bottom: 20px;
}
  


.mid {
    display: flex;
    justify-content: center;
    gap: 35%;
    
}

.icon-container {
    display: flex;
    align-self: flex-end;
    gap: 10px;
}

.icon-container img {
    width: 37px;
    height: 37px;   
}

.download-options h2 {
    margin-bottom: 25px;
}

.download-options nav {
    display: flex;
    gap: 20px;
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
    font-size: 18px;
}

.hr {
    width: 90%;
    height: 1px;
    background-color: transparent;
    box-shadow: 0px 0.5px 0px #BEBCBD;
    margin: 30px 0;
}
