.category-card {
  width: 270px;
  height: 451px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  cursor: pointer;

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

  .text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;      
  }
  
  img {
    width: 270px;
    height: 393px;
    border-radius: 10px;
  }
  
  h3 {
    font-size: 18px;
    font-weight: bold;
  }

  p {
    font-size: 13xpx;
    color: gray;
  }
  
  .arrow {
    font-size: 24px;
    font-weight: bold;
    color: gray;
  }
}
  