<div>
    <div class="top">
        <p>T-shirt / Tops</p>

        <h3>Summer <br> Value Pack</h3>
    
        <p>cool / colorful / comfy</p>
    
        <app-button></app-button>
    </div>

    <div class="bottom">
        <div class="left card">
            <p>Low Price</p>

            <h5>High Coziness</h5>

            <small>UPTO 50% OFF</small>

            <app-button text="Explore Items" fontColor="#ffb134" width="200px" height="50px"></app-button>
        </div>

        <div class="right card">
            <p>Beyoung Presents</p>

            <h5>Breezy Summer <br> Style</h5>

            <small>UPTO 50% OFF</small>

            <app-button text="Explore Items" fontColor="#a420dd" width="200px" height="50px"></app-button>
        </div>
    </div>

</div>
