div {
    width: 100%;
    max-height: 1302px;
}

.top {
    width: 100%;
    height: 670px;
    display: flex;
    flex-direction: column;
    padding-left: 15%;
    padding-top: 7% ;
    gap: 40px;
    color: white;
    background-image: url('/home/section1/hero-bg.png');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-position-y: 1%;
}

.top img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.top h3 {
    font-size: 78px;
    font-weight: 700;
}

.top p {
    font-size: 32px;
}

.bottom {
    display: flex;
    justify-content: center;
    gap: 30px;  
    padding: 7% 100px 5% 100px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 605px;
    height: 356px;
    padding: 60px 50px;
    color: white;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}

.left {    
    background-image: url('/home/section1/left-bg.png');
    background-size: 96% 96%;    
}

.right {
    background-image: url('/home/section1/right-bg.png');
}

.card h5 {
    font-size: 34px;
    font-weight: 700;
}

.card p {
    font-size: 18px;
    font-weight: 700;
}

.card small {
    font-size: 14px;
    font-weight: 500;
    margin-top: -4%;   
    margin-bottom: 4%; 
}