.gallery-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.thumbnails {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.thumbnails img {
  padding: 2px;
  width: 60px;
  height: 60px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 6px;
  transition: border 0.3s;
}

.thumbnails img:hover {
  border-color: #ccc;
}

.thumbnails img.active {
  border-color: #acacac;
}

.main-image img {
  width: 400px;
  height: auto;
  object-fit: contain;
}
