<div class="product-card">
    <div class="image-container">
        <img [src]="product.image" [alt]="product.title">
        <button class="heart-button">
            <img class="heart-icon" src="/home/section6/heart-icon.png" alt="heart-icon">
        </button>
    </div>
    <div class="bottom-container">
        <div class="text-container">
            <p>{{product.title}}</p>
            <small>{{product.subTitle}}</small>
        </div>
        <p id="price">${{product.price | number:'1.2-2'}}</p>
    </div>
</div>
