<main>
    <app-pipe-with-text text="Big Saving Zone"></app-pipe-with-text>

    <div class="mid-section">
      <div class="top-cards">

        <div class="one card text-left text-white">
          <div class="text-btn-container">
            <h3>Hawaiian <br> Shirts</h3>
            <small>Dress up in summer vibe</small>
            <h4>UPTO 50% OFF</h4>
            <img src="/home/section3/arrow-white.png" alt="down arrow">
            <app-button width="111px" height="34px" text="SHOP NOW" fontSize="12px" fontColor="white" bgColor="transparent" border="2px solid white"></app-button>
          </div>
        </div>

        <div class="two card text-right text-white">
          <div class="text-btn-container">
            <app-button id="top-btn" width="111px" height="34px" text="Limited Stock" fontSize="12px" fontWeight="500" fontColor="white" bgColor="#3C4242" border="none"></app-button>
            <h3>Printed <br> T-Shirt</h3>
            <small>New Designs Every Week</small>
            <h4>UPTO 40% OFF</h4>
            <img src="/home/section3/arrow-white.png" alt="down arrow">
            <app-button width="111px" height="34px" text="SHOP NOW" fontSize="12px" fontColor="white" bgColor="transparent" border="2px solid white"></app-button>
          </div>
        </div>

        <div class="three card text-right text-gray">
          <div class="text-btn-container">
            <h3>Cargo <br> Joggers</h3>
            <small>Move with style & comfort</small>
            <h4>UPTO 50% OFF</h4>
            <img src="/home/section3/arrow-grey.png" alt="down arrow">
            <app-button width="111px" height="34px" text="SHOP NOW" fontSize="12px" fontColor="#3C4242" bgColor="transparent" border="2px solid #3C4242"></app-button>
          </div>
        </div>
             
      </div>


      <div class="bottom-cards">

        <div class="four card large text-right text-gray">
          <div class="text-btn-container">
            <h3>Urban <br> Shirts</h3>
            <small>Live In Confort</small>
            <h4>FLAT 60% OFF</h4>
            <img src="/home/section3/arrow-grey.png" alt="down arrow">
            <app-button width="132px" height="36px" text="SHOP NOW" fontSize="12px" fontColor="#3C4242" bgColor="transparent" border="2px solid #3C4242"></app-button>
          </div>
        </div>

        <div class="five card large text-right text-gray">
          <div class="text-btn-container">
            <h3>Oversized <br> T-Shirts</h3>
            <small>Street Style Icon</small>
            <h4>FLAT 60% OFF</h4>
            <img src="/home/section3/arrow-grey.png" alt="down arrow">
            <app-button width="132px" height="36px" text="SHOP NOW" fontSize="12px" fontColor="#3C4242" bgColor="transparent" border="2px solid #3C4242"></app-button>
          </div>
        </div>
      </div>
      
    </div>

    <div class="bottom-section">
      <div class="left">
        <h2>WE MADE YOUR EVERYDAY <br> FASHION BETTER!</h2>

        <p>In our journey to improve everyday fashion, euphoria presents EVERYDAY wear range - Comfortable & Affordable fashion 24/7</p>

        <app-button width="168px" height="46px" fontSize="18px"></app-button>
      </div>
      <div class="right"></div>
    </div>


    
</main>
