* {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

app-section5 {
    max-width: 1230px;
    margin: 0 auto;
    margin-bottom: 76px;
}

app-section6 {
    max-width: 1230px;
    margin: 0 auto;
    margin-bottom: 76px;
}